@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan',sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 50%), url(https://i.pinimg.com/736x/1e/ae/49/1eae490d5ef25f8917bda4f850769d28.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    min-height: 700px;
}

.navbar {
    position: fixed;
    width: 100%;
    max-width: 1200px;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 10;
}

nav a.active {
    color: #fff;
    background-color: #eac6ff;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-right: 70px;
    margin-left: 30px;
    width: 200px;
    height: 150px;
    background: rgba(198, 204, 211, 0.5);
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.menu {
    flex-grow: 1;
    padding: 5px 0;
    width: 100%;
    box-sizing: border-box;
    margin-left: 80px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 5px 0;
    margin: 0 auto;
    background: rgba(145, 117, 163, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(226, 179, 225, 0.5);
    width: fit-content;
}

ul li {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul li a {
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    padding: 10px 15px;
    border-radius: 5px;
}

ul li a:hover {
    color: #fff;
    background-color: #ffc8ea;
    transform: scale(1.1);
}

.register-link {
    position: fixed;
    right: 170px;
    top: 20px;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
}

.register-link a {
    display: inline-block;
    padding: 10px 20px;
    background: #eac6ff;
    color: #fff;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    transition: 0.4s ease;
    box-sizing: border-box;
}

.register-link a:hover {
    background-color: #ffc8ea;
    color: #fff;
    transform: scale(1.05);
}

.register-link a:active {
    transform: scale(1.1);
}

.login-link {
    position: fixed;
    right: 50px;
    top: 20px;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
}

.login-link a {
    display: inline-block;
    padding: 10px 20px;
    background: #eac6ff;
    color: #fff;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    transition: 0.4s ease;
    box-sizing: border-box;
}

.login-link a:hover {
    background-color: #ffc8ea;
    color: #fff;
    transform: scale(1.05);
}

.login-link a:active {
    transform: scale(1.1);
}

.products {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
padding-top: 70px;
}

.products__text {
align-items: center;
}

.heading {
    font-family: 'Courier New', monospace;
    font-size: 35px;
    color: #E195AB;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid #E195AB;
    width: auto;
    animation: typing 4s steps(30) 1s forwards, blink-caret 0.75s step-end infinite;
    margin-left: 50%;
    margin-top: 10px;
    transform: translateX(-50%);
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
    100% {
        border-color: #f3a3f0;
    }
}

.products__text__subheading {
    padding: 10px 15px;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 18px;
    line-height: 1.8;
    letter-spacing: 0.8px;
    max-width: 900px;
    color: #fff;
    background: rgba(252, 209, 242, 0.8);
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.7);
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
    width: 100%;
    margin-bottom: 10px;
}

.products__container {
display: flex;
gap: 250px;
color: #987D9A;
}

.products__container__product__img__1, .products__container__product__img__2, .products__container__product__img__3 {
max-width: 226px;
height: auto;
}

.products__container__1 h4, .products__container__2 h4, .products__container__3 h4 {
margin-top: 30px;
}

.products__container__1 p, .products__container__2 p, .products__container__3 p {
max-width: 300px;
margin-top: 15px;
}

.products__container__product__img__1 {
    width: 210px;
}

.products__container__product__img__2 {
    width: 1000px;
}

.products__container__product__img__3 {
    width: 215px;
}




.products__container__product__btn {
padding: 12px 17px;
background-color: #FEEE91;
color: #FFFFFF;
border: none;
border-radius: 8px;
font-family: "Poppins", sans-serif;
font-size: 1.0625em;
font-weight: 700;
letter-spacing: -0.5px;
cursor: pointer;
transition: background-color 0.3s ease, transform 0.3s ease;
margin-top: 30px;
}

.products__container__product__btn:hover, .products__container__product__btn:focus {
background-color: #f4a7f6;
transform: scale(1.02);
}

.form{
    display: none;
    width: 290px;
    height: 450px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 250px;
    left: 620px;
    justify-content: center;
    align-items: center;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
    z-index: 1000;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #4a90e2;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #4a90e2;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: #fff;
    font-family: Arial;
}

.btnn{
    width: 240px;
    height: 40px;
    background: #87CEEB;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btnn:hover{
    background: #fff;
    color: #4a90e2;
}
.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
    color: white;
}
.form .link a{
    text-decoration: none;
    color: #4a90e2;
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
}

.social a {
    text-decoration: none;
    color: #fff;
}

.social i {
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}

.social i:hover {
    color: #4a90e2;
}


/* Blur background effect */
.blur-background {
    display: none; /* Hidden initially */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent dark background */
    backdrop-filter: blur(5px); /* This creates the blur effect */
    z-index: 999; /* Ensure it appears above other elements */
}

/* Popup overlay */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

/* Popup content */
.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #333;
}

.popup-close:hover {
    color: red;
}
